# Importar librerias y base de datos
Primero se cargan las librerias y se importa la base de datos

In [3]:
import pandas as pd
import numpy as np
import json
df = pd.read_csv("unclean_data1.csv",encoding='utf8')
df2=pd.read_csv("unclean_data1.csv",encoding='utf8')

# Visualizar los datos

In [4]:
df

,movie_title,num_critic_for_reviews,duration,DIRECTOR_facebook_likes,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Cast_Total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,ACTOR_2_facebook_likes,imdb_score,title_year.1
0,Avatar?ÿ,723,178.0,10,855,1000,760505847,886204.0,4834.0,NaN,3054,237000000,2009,936.0,7.9,2009.0
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,563,1000,40000,309404152,471220.0,48350.0,NaN,1238,300000000,2007,5000.0,7.1,NaN
2,Spectre?ÿ,602,148.0,20,161,11000,200074175,275868.0,11700.0,1.0,994,245000000,2015,393.0,6.8,2015.0
3,The Dark Knight Rises?ÿ,813,NaN,22000,23000,27000,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,23000.0,8.5,NaN
4,John Carter?ÿ,462,132.0,"""475""",530,640,73058679,212204.0,1873.0,1.0,738,263700000,2012,632.0,6.6,NaN
5,Spider-Man 3?ÿ,392,156.0,23,4000,24000,336530303,383056.0,46055.0,NaN,1902,258000000,2007,11000.0,6.2,2007.0
6,Tangled?ÿ,324,NaN,15,284,799,200807262,294810.0,NaN,1.0,387,260000000,2010,553.0,7.8,NaN
7,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,NaN
8,Avengers: Age of Ultron?ÿ,635,141.0,10,19000,26000,458991599,462669.0,92000.0,4.0,1117,250000000,2015,21000.0,7.5,2015.0
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,282,10000,25000,301956980,321795.0,58753.0,3.0,973,250000000,2009,11000.0,7.5,NaN
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,NaN,2000,15000,330249062,NaN,24450.0,NaN,3018,250000000,2016,NaN,6.9,2016.0
11,Superman Returns?ÿ,434,169.0,NaN,903,18000,200069408,240396.0,NaN,2.0,2367,209000000,2006,10000.0,6.1,NaN
12,Quantum of Solace?ÿ,403,106.0,395,393,451,168368427,330784.0,2023.0,1.0,1243,200000000,2008,412.0,6.7,2008.0
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,563,1000,40000,423032628,522040.0,48486.0,2.0,1832,225000000,2006,5000.0,7.3,2008.0

# Descripción básica de columnas

In [5]:
df.shape

(14, 16)

Nuestra base de datos tiene 14 columnas y 16 filas

In [6]:
df.columns

Index(['movie_title', 'num_critic_for_reviews', 'duration',
       'DIRECTOR_facebook_likes', 'actor_3_facebook_likes',
       'ACTOR_1_facebook_likes', 'gross', 'num_voted_users',
       'Cast_Total_facebook_likes', 'facenumber_in_poster',
       'num_user_for_reviews', 'budget', 'title_year',
       'ACTOR_2_facebook_likes', 'imdb_score', 'title_year.1'],
      dtype='object')

#### Las columnas que componen a la base de datos son:
- movie_title
- num_critic_for_reviews
- duration
- DIRECTOR_facebook_likes
- actor_3_facebook_likes
- ACTOR_1_facebook_likes
- gross
- num_voted_users
- Cast_Total_facebook_likes
- facenumber_in_poster
- num_user_for_reviews
- budget 
- title_year
- ACTOR_2_facebook_likes
- imdb_score
- title_year.1

In [7]:
df.dtypes

movie_title                   object
num_critic_for_reviews         int64
duration                     float64
DIRECTOR_facebook_likes       object
actor_3_facebook_likes         int64
ACTOR_1_facebook_likes         int64
gross                          int64
num_voted_users              float64
Cast_Total_facebook_likes    float64
facenumber_in_poster         float64
num_user_for_reviews           int64
budget                         int64
title_year                     int64
ACTOR_2_facebook_likes       float64
imdb_score                   float64
title_year.1                 float64
dtype: object

Se ve que tipo de datos tiene cada columna

In [8]:
df.isnull().any()

movie_title                  False
num_critic_for_reviews       False
duration                      True
DIRECTOR_facebook_likes       True
actor_3_facebook_likes       False
ACTOR_1_facebook_likes       False
gross                        False
num_voted_users               True
Cast_Total_facebook_likes     True
facenumber_in_poster          True
num_user_for_reviews         False
budget                       False
title_year                   False
ACTOR_2_facebook_likes        True
imdb_score                   False
title_year.1                  True
dtype: bool

#### Vemos cuales columnas tienen datos vacíos, los que los contienen son:
- la duracion
- los likes en facebook por director
- El numero de usuarios votados
- los likes en facebook por todo el cast
- El numero de caras en el poster
- Los likes por actor 2
- Año

In [9]:
df.isnull().sum()

movie_title                  0
num_critic_for_reviews       0
duration                     3
DIRECTOR_facebook_likes      2
actor_3_facebook_likes       0
ACTOR_1_facebook_likes       0
gross                        0
num_voted_users              1
Cast_Total_facebook_likes    2
facenumber_in_poster         5
num_user_for_reviews         0
budget                       0
title_year                   0
ACTOR_2_facebook_likes       1
imdb_score                   0
title_year.1                 7
dtype: int64

Nos muestra cuantas celdas vacias hay por cada columna

# Acomodando los datos

In [10]:
df2.drop(['title_year.1', 'DIRECTOR_facebook_likes', 'actor_3_facebook_likes', 'ACTOR_1_facebook_likes', 'ACTOR_2_facebook_likes'], axis=1, inplace = True)

Se elimina la columna repetida del año de la pelicula y los likes por cada miembro del elenco, ya que esta la columna de numero de likes por el elenco completo.

# Cambiar el nombre de las columnas

In [11]:
df3=df2.rename(columns = {'num_critic_for_reviews':'num_reviews', 'title_year':'año', 'Cast_Total_facebook_likes':'Total_de_likes'})
df3

,movie_title,num_reviews,duration,gross,num_voted_users,Total_de_likes,facenumber_in_poster,num_user_for_reviews,budget,año,imdb_score
0,Avatar?ÿ,723,178.0,760505847,886204.0,4834.0,NaN,3054,237000000,2009,7.9
1,Pirates of the Caribbean: At World's End?ÿ,302,NaN,309404152,471220.0,48350.0,NaN,1238,300000000,2007,7.1
2,Spectre?ÿ,602,148.0,200074175,275868.0,11700.0,1.0,994,245000000,2015,6.8
3,The Dark Knight Rises?ÿ,813,NaN,448130642,1144337.0,106759.0,NaN,2701,250000000,2012,8.5
4,John Carter?ÿ,462,132.0,73058679,212204.0,1873.0,1.0,738,263700000,2012,6.6
5,Spider-Man 3?ÿ,392,156.0,336530303,383056.0,46055.0,NaN,1902,258000000,2007,6.2
6,Tangled?ÿ,324,NaN,200807262,294810.0,NaN,1.0,387,260000000,2010,7.8
7,Avengers: Age of Ultron?ÿ,635,141.0,458991599,462669.0,92000.0,4.0,1117,250000000,2015,7.5
8,Avengers: Age of Ultron?ÿ,635,141.0,458991599,462669.0,92000.0,4.0,1117,250000000,2015,7.5
9,Harry Potter and the Half-Blood Prince?ÿ,375,153.0,301956980,321795.0,58753.0,3.0,973,250000000,2009,7.5
10,Batman v Superman: Dawn of Justice?ÿ,673,183.0,330249062,NaN,24450.0,NaN,3018,250000000,2016,6.9
11,Superman Returns?ÿ,434,169.0,200069408,240396.0,NaN,2.0,2367,209000000,2006,6.1
12,Quantum of Solace?ÿ,403,106.0,168368427,330784.0,2023.0,1.0,1243,200000000,2008,6.7
13,Pirates of the Caribbean: Dead Man's Chest?ÿ,313,151.0,423032628,522040.0,48486.0,2.0,1832,225000000,2006,7.3

Se le cambia el nombre a las columnas para que sea más fácil trabajar con ellas.

# Guardar otros archivos con agrupaciones.

In [12]:
df3.año.unique()

array([2009, 2007, 2015, 2012, 2010, 2016, 2006, 2008], dtype=int64)

Se ve los años en los que se han publicado las peliculas, que son: 2006, 2007, 2008, 2009, 2010, 2012, 2016

In [13]:
AñoVStitulo = df3.loc[df3.año == '2009'].movie_title
AñoVStitulo

C:\Users\Carolina\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

Series([], Name: movie_title, dtype: object)

In [14]:
Total_likes_por_año=df3.groupby(['año'])[['Total_de_likes']].sum()
Total_likes_por_año
Total_likes_por_año.to_csv('Total_likes_por_año.csv', index=True)

In [15]:
Num_peliculas_por_año=df3.groupby(['año'])[['año']].size().reset_index(name='Numero de peliculas por año')
Num_peliculas_por_año
Num_peliculas_por_año.to_csv('Num_peliculas_por_año.csv', index=True)

Se guardan en archivos csv una tabla que contiene los años junto con el total de likes por año y los años junto con el numero de peliculas que se hicieron en ese año.

# Preguntas de interés

### ¿Para que me puede servir estas agrupaciones para la práctica siguiente?
Las agrupaciones me pueden servir para sólo seleccionar cierto tipo de datos que deseo analizar en cierta categoría. Por ejemplo si quiero analizar por ciudad, país, año, color, o cualquier otra categoría.

### Importancia del analisis previo de los datos antes de iniciar las modificaciones.
Es importante analizar previamente los datos antes de iniciar las modificaciones ya que es necesrio saber con que tipo de datos estamos tratando, cuantas columnas realmente son las que nos van a servir y tener en cuenta todos las modificaciones que necesitamos realizar.

# Tareas extras:
### ?df.dropna() 
DataFrame.dropna(self, axis=0, how='any', thresh=None, subset=None, inplace=False)
Esta función elimina los valores faltantes, regresa un DataFrame sin las entradas de NA.

Parametros:
- axis{0 or ‘index’, 1 or ‘columns’}, default 0 
    Determina si se van a remover las filas o columnas.
    0, or ‘index’ : da las filas que contienen valores faltantes.
    1, or ‘columns’ : da las columnas que contienen valores faltantes.
- how{‘any’, ‘all’}, default ‘any’
    Determina si la fila o la columna es removida del DataFrame, cuando tiene por lo menos un NA o todos NA.
    ‘any’ : si hay un valor NA presente, da esa fila o columna.
    ‘all’ :si todos los valores son NA, da esa fila o columna.
- threshint, optional
    Requiere cuantos no NA valores.
- subsetarray-like, optional
    Las etiquetas en el eje a considerar.
- inplacebool, default False
    Si es verdadero, entonces hace la operacion en el lugar y regresa None.

### ?df.astype
DataFrame.astype(self: ~FrameOrSeries, dtype, copy: bool = True, errors: str = 'raise')
Lanza un objeto panda a un epecifico dtype.
Regresa un castedsame type as caller

Parametros:
- dtypedata type, or dict of column name -> data type
    Use a numpy.dtype or Python type to cast entire pandas object to the same type. Alternatively, use {col: dtype, …}, where col is a column label and dtype is a numpy.dtype or Python type to cast one or more of the DataFrame’s columns to column-specific types.

- copybool, default True
    Return a copy when copy=True (be very careful setting copy=False as changes to values then may propagate to other pandas objects).

- errors{‘raise’, ‘ignore’}, default ‘raise’
    Control raising of exceptions on invalid data for provided dtype.
    raise : allow exceptions to be raised
    ignore : suppress exceptions. On error return original object.

### Realizar una tarea de preprocesamiento no mencionada en esta práctica.

In [6]:
df3.describe()

,num_reviews,duration,actor_3_facebook_likes,ACTOR_1_facebook_likes,gross,num_voted_users,Total_de_likes,facenumber_in_poster,num_user_for_reviews,budget,año,ACTOR_2_facebook_likes,imdb_score,title_year.1
count,14.000000,11.000000,14.000000,14.000000,1.400000e+01,1.300000e+01,12.000000,9.000000,14.000000,1.400000e+01,14.000000,13.000000,14.000000,7.000000
mean,506.142857,150.727273,5866.142857,18206.428571,3.335836e+08,4.621578e+05,44773.583333,2.111111,1620.071429,2.462643e+08,2010.500000,8455.846154,7.171429,2011.142857
std,169.069789,21.679903,8289.592695,13905.214361,1.720674e+08,2.687059e+05,37290.813335,1.269296,866.672102,2.426823e+07,3.632122,8541.019541,0.673028,3.976119
min,302.000000,106.000000,161.000000,451.000000,7.305868e+07,2.122040e+05,1873.000000,1.000000,387.000000,2.000000e+08,2006.000000,393.000000,6.100000,2007.000000
25%,379.250000,141.000000,611.250000,3500.000000,2.002574e+08,2.948100e+05,9983.500000,1.000000,1024.750000,2.390000e+08,2007.250000,632.000000,6.725000,2008.000000
50%,448.000000,151.000000,1000.000000,21000.000000,3.198266e+08,3.830560e+05,47202.500000,2.000000,1240.500000,2.500000e+08,2009.500000,5000.000000,7.200000,2009.000000
75%,635.000000,162.500000,8500.000000,26000.000000,4.418561e+08,4.712200e+05,67064.750000,3.000000,2250.750000,2.560000e+08,2014.250000,11000.000000,7.500000,2015.000000
max,813.000000,183.000000,23000.000000,40000.000000,7.605058e+08,1.144337e+06,106759.000000,4.000000,3054.000000,3.000000e+08,2016.000000,23000.000000,8.500000,2016.000000

DataFrame.describe(self: ~FrameOrSeries, percentiles=None, include=None, exclude=None)

Esta función genera estadisticas descriptivas del DataFrame. Incluyen esas que resumen la tendencia central, la dispersion y la forma de la distribucion del set de datos expluyendo los valores NA. Analiza ambos, los valores numericos y los objetos, asi como los sets de columnas de los DataFrames con datos mezclados. La salida va a variar dependiendo en que datos se le den de entrada. 

Parametros:
- percentileslist-like of numbers, optional
    Los percentiles se incluyen opcionalmente en la salida. Todos deben de caer entre 0 y 1. El predeterminado es  [.25, .5, .75], que regresa el 25°, 50° y 75° percentiles.

- include‘all’, list-like of dtypes or None (default), optional
    Una lista de los tipos de datos se inluye en el resultado. Es ignorado para las series. Hay varias opciones:
        ‘all’ : Todas las columnas de entrada seran incluidas en la salida de información.
        A list-like of dtypes : El limite de los resultados de los datos provistos. Para limitar el resultado a los tipos numericos: numpy.number. Para limitar a objetos: numpy.object. Para seleccionar datos categoricos usar: 'category'.None (default) : El resultado va a incluir todas las columnas.

- excludelist-like of dtypes or None (default), optional,
    Una lista de datos a omitir en el resultado. Series a ignorar.
        A list-like of dtypes : exluye los tipos de datos del resultado. PAra exluir numericos: numpy.number, para excluir columnas: numpy.object, para datos categoricos use: 'category'. None (default) : No excluye nada.